<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photographs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button color="success" (click)="loadSaved()">
      <ion-icon  name="eye"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid   *ngIf="hasLoaded">
    <ion-row>
      <ion-col size="6" *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"></ion-img>
        <ion-text class="ion-text-center">
          <p>{{photo.filepath}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
